html {
  margin: 0;
  padding: 0;
  font-size: 1em;
  --bg-color: #f0f0f0;
  --txt-color: #3c3c3c;
  --hover-color: #ff470f;
  background: var(--bg-color);
  color: var(--txt-color);
}
body {
  margin: 4em 0 0 0;
}
.dark {
  --bg-color: #3c3c3c;
  --txt-color: #fff;
}
a {
  text-decoration: none;
  color: var(--txt-color);
}
a:hover {
  color: var(--hover-color);
}
#ChangePageStyle::before {
  content: "\f186";
}
.dark #ChangePageStyle::before {
  content: "\f185";
}
header{
  border-bottom: 5px solid #cccccc;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: var(--bg-color);
  top: 0;
  height: 4em;
}
header a{
  font-size: 2em;
  padding: 10px;
}
.item {
  width: clamp(14%, 250px, 30%);
  position: relative;
  margin: 10px auto;
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
  color: var(--txt-color);
}
